<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

<mat-button-toggle-group class="navbar-option">
  <mat-button-toggle routerLink="/personaje">Personaje</mat-button-toggle>
  <mat-button-toggle routerLink="/circuito">Circuito</mat-button-toggle>
</mat-button-toggle-group>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

</mat-toolbar>

